@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    max-width: 62.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "header-left header-left header-left header-right-top    header-right-top    header-right-top"
    "header-left header-left header-left header-right-bottom header-right-bottom header-right-bottom"
    "nav         nav         nav         nav                 nav                 nav"
    "main-top    main-top    main-top    main-top            main-top            main-top"
    "main-bottom main-bottom main-bottom main-bottom         main-bottom         main-bottom"
    "box1        box1        box2        box2                box3                box3"
    "box4        box4        box5        box5                box6                box6"
    "footer      footer      footer      footer              footer              footer"
}

/*********** GENERAL CSS *************/

h1 {
    font-family: 'frank ruhl libre', sans-serif;
    font-size: 2.8125rem;
    font-weight: 900;
}

h2 {
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
}

h3 {
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.585rem;
}

h4 {
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

p {
    font-family: 'fira sans', sans-serif;
}

a {
    font-family:'fira sans', sans-serif;
    color: #000000;
    font-size: 0.9rem;
}

/***********************************/

/************** HEADER *************/

.header-left {
    grid-area: header-left;
    background-color: #C7DDEA;
    height: 34rem;
    width: 100%;
    position: relative;
}

.header-left h1 {
    margin: 4.44rem 5.12rem 1rem 6.56rem;
    line-height: 2.8125rem;
}

.header-left p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-right: 8rem;
    margin-left: 6.56rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.header-left a {
    text-decoration: none;
    background-color: white;
    width: 8.2rem;
    height: 2.438rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.625rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-left: 6.56rem;
}

.header-left .span-white {
    color: rgba(255, 255, 255, 1);
}

img.logo1 {
    width: 17.875rem;
    height: 17.4375rem;
    margin-right: 1.06rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.header-right-top {
    grid-area: header-right-top;
    background-color: #F17949;
    height: 17rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-right-top p {
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 0.825rem;
    color: rgba(0, 0, 0, 0.5);
}

.header-right-top h3 {
    color: white;
}

.header-right-bottom {
    grid-area: header-right-bottom;
    background-color: #FFB939;
    height: 17rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-right-bottom p {
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 0.825rem;
    color: rgba(0, 0, 0, 0.5);
}

.header-right-bottom h3 {
    color: white;
}

/***************************/

/*********** NAV ***********/

nav {
    grid-area: nav;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.75rem;
    margin: 3rem;
    color: rgba(0, 0, 0, 0.4);
}

ul li a:hover {
    text-decoration: underline;
}

ul li:first-child a {
    color: rgba(0, 0, 0, 1);
}

/********************************/

/************* MAIN TOP *************/

.main-top-container {
    grid-area: main-top;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.main-left {
    width: 50%;
    height: 38.25rem;
    background-color: #A9A19E;

}

.main-left h1 {
    color: white;
    margin: 6.44rem 5rem 3rem 7rem;
}

.main-left a {
    text-decoration: none;
    background-color: white;
    width: 8.2rem;
    height: 2.438rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-left: 7rem;
}
    
.main-right {
    width: 50%;
    height: 38.25rem;
    line-height: 1.5rem;
    background-color: #A9A19E;

}

.main-right p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
    margin: 6.44rem 7.5rem;

}

/********* MAIN CARDS **********/

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    gap: 2rem;
    position: absolute;
    top: 100%;
    transform: translate(0, -50%);
}

.cards-container > * {
    width: 16rem;
    height: 19.25rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.card1 .logo-card1-container {
    width: 14.75rem;
    height: 9.375rem;
    border-radius: 0.25rem;
    background-color: #C7DDEA;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: -1.5rem;
}

.card1 h4 {
    margin-top: 6rem;
    color: rgba(0, 0, 0, 0.9);
}

.card1 p {
    font-size: 0.688rem;
    font-weight: 700;
    line-height: 1.125rem;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 1rem;
}

.card2 .logo-card2-container {
    width: 14.75rem;
    height: 9.375rem;
    border-radius: 0.25rem;
    background-color: #FAB131;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: -1.5rem;
}

.card2 h4 {
    margin-top: 6rem;
    color: rgba(0, 0, 0, 0.9);
}

.card2 p {
    font-size: 0.688rem;
    font-weight: 700;
    line-height: 1.125rem;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 1rem;
}

.card3 .logo-card3-container {
    width: 14.75rem;
    height: 9.375rem;
    border-radius: 0.25rem;
    background-color: #F17949;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: -1.5rem;
}

.card3 h4 {
    margin-top: 6rem;
    color: rgba(0, 0, 0, 0.9);
}

.card3 p {
    font-size: 0.688rem;
    font-weight: 700;
    line-height: 1.125rem;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 1rem;
}

/************ MAIN BOTTOM *************/

.main-bottom-container {
    grid-area: main-bottom;
}

.main-bottom {
    background-color: #FAB131;
    width: 100%;
    height: 42.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-bottom h1 {
    color: white;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.main-bottom p {
   font-size: 0.875rem;
   font-weight: 500; 
   line-height: 1.25rem;
   padding: 1rem;
   text-align: center;
   color: rgba(0, 0, 0, 0.6);
   margin: 0 17.5rem;
}

/********** BOXES **************/

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    width: 21.5rem;
    height: 21.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.063rem;
    text-align: center;
    position: relative;
}

.box1 {
    grid-area: box1;
    background-color: #C7DDEA;
}

.box1 h1 {
    color: rgba(0, 0, 0, 0.8);
    line-height: 2.813rem;
}

.box2 {
    grid-area: box2;
    background-color: #FFFFFF;
}

 .box2 p {
    margin: 4rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.25rem;
 }

.box2 h2 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: rgba(0, 0, 0, 0.4);
}

.box3 {
    grid-area: box3;
    background-color: #EBEBEB;
}

.box3 h2 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: rgba(0, 0, 0, 0.4);
}

.box3 p {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.25rem;
}

.box4 {
    grid-area: box4;
    background-color: white; 
}

.box4 h2 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    opacity: 40%;
}

.box4 p {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.25rem;
    margin: 3rem;
}

.box5 {
    grid-area: box5;
    background-color: #F17949; 
}

.box5 h2 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: rgba(0, 0, 0, 0.4);
}

.box5 p {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.25rem;
}

.box6 {
    grid-area: box6;
    background-color: white; 
}

.box6 h2 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: rgba(0, 0, 0, 0.4);
}

.box6 p {
    color: rgba(0, 0, 0, 0.7);
}

/************* FOOTER **************/

.footer-container {
    grid-area: footer;
}

.footer-top {
    background-color: #A9A19E;
    height: 4.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-top .img-footer {
    position: absolute;
    left: 49%;
    top: 0.3rem;
}

.footer-top a {
    text-decoration: none;
    font-size: 1.063rem;
    color: rgba(0, 0, 0, 0.7);
}

.footer-bottom {
    width: 100%;
    height: 21.25rem;
    background-color: #777574;
}

/*******************************/
